* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:
        #EDF3F8;
}

:root {
    --primaryColor: #36536B;
}

h1 {
    color: var(--primaryColor);
}

.navbar {
    padding: 40px 11% 0 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.right_navbar_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.right_navbar_nav>li>a {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    color: var(--primaryColor);
}

.navbar_button>button {
    width: 173px;
    height: 48px;
    background-color: #BA4270;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBFCFE;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 248px 0 165px;
}

h1 {
    font-family: DM Serif Display;
    font-size: 72px;
    font-weight: 400;
    color: var(--primaryColor);
    width: 546px;
}

.first_section {
    padding: 177px 16.3% 0 13.19%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_section_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
}

.first_section_text>h2 {
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    color: #36536B;
}


.first_section_text>p {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    color: #6C8294;
    width: 445px;
}

.first_section>img {
    box-shadow: 25px 25px 80px 0px #36536B4D;
}

.cards {
    padding: 180px 23.5% 103px 15.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}


.card>p {
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 700;
    color: #36536B;
}

.footer {
    padding: 31px 11.4% 31px 11.3%;
    background-image: url(./assets/icons/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.4%;
}

.footer_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer_nav>li>a {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    color: #c1c1c1;
    transition: 0.4s;
}

.footer_nav>li>a:hover {
    color: white;
    transition: 0.4s;
}

.footer_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

.burger {
    display: none;
}

@media (max-width:1270px) {
    .first_section {
        flex-direction: column;
        row-gap: 48px;
    }

    .first_section_text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first_section_text>p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 573px;
        text-align: center;
    }
}

@media (max-width:900px) {
    .card>img {
        width: 88px;
        height: 88px;
    }

    .cards {
        padding: 153px 7.4% 116px 7.4%;
    }
}

@media (max-width:768px) {
    .navbar {
        padding: 40px 39px 0 39px;
    }


    .showcase {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 48px;
        row-gap: 48px;

    }


    .right_navbar_nav {
        display: none;
    }

    h1 {
        width: 573px;
        font-family: DM Serif Display;
        font-size: 48px;
        font-weight: 400;
        text-align: center;

    }

    .first_section>img {
        width: 391.73px;
        height: 250px;
    }

    .first_section {
        padding: 181px 6.8% 0 6.8%;
    }

    .footer {
        padding: 31px 40px;
    }
}


@media (min-width:768px) and (max-width:1000px) {
    h1 {
        font-size: 50px;
        width: 400px;
    }

    .showcase {
        margin-top: 48px;
        padding: 0 11%;
    }
}

@media (max-width: 650px) {
    .cards {
        padding: 77px 0 65px 0;
        flex-direction: column;
        row-gap: 164px;
    }

    .card>img {
        width: 106px;
        height: 106px;
    }

    .first_section>img {
        width: 328px;
        height: 209px;
    }

    .first_section_text>h2 {
        font-size: 36px;
    }

    .first_section_text>p {
        width: 87%;
    }
}

@media (max-width:590px) {
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .footer_nav {
        flex-direction: column;
        align-items: center;
    }

    .left_footer {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

@media (max-width: 560px) {
    .showcase_title>h1 {
        font-size: 32px;
        width: 87.2%;
        padding: 24px 6.4% 0 6.4%;
    }




    .showcase {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:420px) {
    .navbar_button>button {
        display: none;
    }

    .burger {
        display: block;
    }

    .navbar {
        padding: 40px 6.4% 0 6.4%;
    }

    .showcase_img>img {
        width: 128px;
        height: 240px;
    }

}